.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: var(--background-modal);
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  display: inline-flex;
  flex-direction: column;
  padding: 40px 40px;
  min-width: 528px;

  background-color: var(--white-text);

  transition: transform 250ms var(--timing-function);
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 0;

  width: 30px;
  height: 30px;
  border: 1px solid var(--border-close);
  border-radius: 50%;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  color: var(--blu-text);
  background-color: var(--white-text);

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.modal__close:hover .modal__close-svg,
.modal__close:focus .modal__close-svg {
  fill: currentColor;
}

.modal__close-svg {
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}

/* ФОРМА В МОДАЛЬНОМ ОКНЕ */

.modal__form {
  display: flex;
  flex-direction: column;
}

.feedback__initials {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 0;
  margin-bottom: 12px;
  list-style: none;
}

.feedback__initials-input:hover,
.feedback__initials-input:focus {
  border-color: var(--blu-text);
}

.feedback__initials-input:focus {
  outline: none;
}

.feedback__initials-input:hover ~ .input-svg,
.feedback__initials-input:focus ~ .input-svg {
  fill: var(--blu-text);
}

.feedback__initials-name {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--grey-text);
  margin-bottom: 4px;
}

.feedback__initials-input {
  height: 40px;
  padding: 0;
  padding-left: 30px;
  margin: 0;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  transition: border 250ms var(--timing-function);
}

.feedback__initials-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--timing-function);
}

.feedback__initials textarea {
  padding: 12px 16px;
  min-height: 120px;
}

.feedback__initials textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form .feedback__initials:not(:last-child) {
  margin-bottom: 10px;
}

.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 30px;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-family: inherit;
  background-color: var(--blu-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-text);
  letter-spacing: 0.06em;
}

.feedback__contract-link {
  color: var(--blu-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feedback__contract {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  color: var(--grey-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feedback__contract-checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-text);
  border-radius: 2px;
}

.feedback__contract-checkbox use {
  display: none;
}

.feedback__contract-check:checked + .checkbox {
  border: none;
}

.feedback__contract-check:checked + .checkbox use {
  display: inline-block;
}

.feedback__contract-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
