.soclinks-container {
  margin-left: 70px;
}

.soclinks-list__item--footer:not(:last-child) {
  margin-right: 10px;
}

.soclinks-container__title,
.form-footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-text);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.soclinks-list__icon--footer {
  fill: var(--white-text);
}

.soclinks-list__link--footer {
  background-color: var(--backgrouund-links-footer);
}
